extends ../layouts/common.pug

block content
    if (!cart)
        p.cart-p No product in cart
    if (cart)
        if (itemCount == 1)
            p.pb-4.mb-5.border-bottom.border-dark.cart-p Your cart has #{itemCount} item
        if (itemCount >2)
            p.pb-4.mb-5.border-bottom.border-dark.cart-p Your cart has #{itemCount} items
        .row
            each i in cart
                .col-sm-12.col-md-12.col-lg-12.ml-6.mb-5.p-2
                    .d-flex.border.border-primary
                        img(src='https://loremflickr.com/160/160/product?random='+(Math.random()*10), alt='...').flex-grow-1.mr-4
                        d-flex.flex-column.flex-grow-4.mr-4
                            h5.card-title Card title
                            p.card-text
                                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            p.card-text
                                small.text-muted Last updated 3 mins ago
                        p.flex-grow-5.ml-auto Price
                            p 196.800Đ