extends ../layouts/common.pug

block content
	h1 Delete user
	ul
		each i in usersList
			li= i.name

	form.form-group(action="/users/delete", method="POST")
		label Name 
		input.form-control(name="name",type="text")

		button.btn.btn-primary.mt-3 Delete